* {
  box-sizing: border-box;
  font-family: 'Montserrat';
}

body {
  margin: 0;
  background-color: #1e1e1e;
  background-image: url('img/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.error {
  margin-bottom: 70px;
  color: #ff0000;
  font-weight: 500;
}

.button,
.buttonActive {
  padding: 12px 30px;
  margin: 5px;
  background: #ffffff;
  border: none;
  box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.75);
  transition-property: background, box-shadow, color;
  transition-duration: 0.2s;
  transition-delay: easy;
}

.button:hover {
  background: rgba(223, 224, 229, 0.76);
}

.button:active {
  background: #000000;
  color: white;
}

.buttonActive {
  background: #000000;
  color: white;
}
